@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "Master.cshtml";
    var heroMedias = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("heroMedias").ToList();
    var heroSlogan = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("heroSlogan");
    var employees = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("employees").ToList();
    var weAreSection = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("weAreDescription").FirstOrDefault();
    var contractSections = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("contractSections");
    var weDoProjects = Model.Site().Children.ToList();
}

<div class="page page--home">
    <section class="hero hero--fullheight row row--no-gutters">
        <div class="col col--lg-6 col--no-gutters">

            @Html.Partial("~/views/partials/medias/medias.cshtml", new MediasViewModel(medias: heroMedias.Select(x => x.GetPropertyValue<IPublishedContent>("mediaSource")).ToList(), width: 960, height: 1080, cssModifiers: "multimedia--fill-parent", sliderConfig: new SliderViewModel(cssModifiers: "slider--sliding-background")))

        </div>
        <div class="col col--lg-6 col--no-gutters col--xs-flex">
            @Html.InlineSvg("--background", "background--image")
            <div class="hero__body padding--centered-lg pulled--center">
                <div class="slider" data-slider>
                    @foreach (var item in heroSlogan)
                    {
                        <div class="slider__slide">
                            <h2 class="subtitle subtitle--medium subtitle--bold">
                                @Umbraco.Field(item, "sectionTitle")
                            </h2>
                            <div class="paragraph paragraph--medium margin--top-sm">
                                @Umbraco.Field(item, "sectionText")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="@Umbraco.Field("weDoTitle", casing: RenderFieldCaseType.Lower)" class="section">
        <div class="hero margin--top-xl">
            <div class="hero__body">
                <h1 class="title title--gradient text--strikethrough background--primary">@Umbraco.Field("weDoTitle", casing: RenderFieldCaseType.Upper)</h1>
            </div>
        </div>
        <div class="portlet portlet--tabs margin--top-xl" data-portlet="tabs">

            @foreach (var item in weDoProjects.Select((value, i) => new { i, value }))
            {
                <div class="portlet__tab @(item.i == 0 ? "is-active" : null)">

                    @Html.Partial("~/views/partials/medias/medias.cshtml", new MediasViewModel(medias: new List<IPublishedContent>() { item.value.GetPropertyValue<IPublishedContent>("categoryPreview") }, width: 19, height: 5, cssModifiers: "multimedia--fill-parent"))

                    <a class="card" href="@item.value.Url">
                        <div class="card__header paragraph">
                            .0@(item.i + 1)
                        </div>
                        <div class="card__content paragraph paragraph--medium">
                            @Umbraco.Field(item.value, "categoryName")
                        </div>
                        <div class="card__footer paragraph">
                            <div class="pulled--right">
                                @Umbraco.GetDictionaryValue("lbl_card_footer")
                            </div>
                        </div>
                    </a>

                </div>
            }

        </div>
    </section>
    <section id="@Umbraco.Field("weAreTitle", casing: RenderFieldCaseType.Lower)" class="section">
        <div class="container">
            <div class="hero margin--top-xl">
                <div class="hero__body">
                    <h1 class="title title--gradient text--strikethrough background--primary">@Umbraco.Field("weAreTitle", casing: RenderFieldCaseType.Upper)</h1>
                </div>
            </div>
            <div class="row row--no-gutters margin--top-lg employees">

                @foreach (var item in employees)
                {
                    <div class="col col--md-4 employees__mvp employees__mvp--@item.GetPropertyValue("mediaTitle").ToString().ToLower().Replace(" ", string.Empty)">

                        @Html.Partial("~/views/partials/medias/medias.cshtml", new MediasViewModel(medias: new List<IPublishedContent>() { item.GetPropertyValue<IPublishedContent>("mediaSource") }, width: 6, height: 5, cssModifiers: "multimedia--6by5", htmlAttributes: "data-expand='1'"))

                        <figcaption class="multimedia__caption margin--top-sm">
                            <h4 class="employees__professional-figure sebtitle subtitle--small">@item.GetPropertyValue("mediaSubtitle")</h4>
                            <h3 class="employees__name paragraph paragraph--small paragraph paragraph--small">@item.GetPropertyValue("mediaTitle")</h3>
                        </figcaption>
                        <span class="employees__letter background--primary" data-scroll-magic>
                            @item.GetPropertyValue("mediaTitle").ToString().ElementAt(0)
                        </span>
                    </div>
                }

            </div>
            <div class="section__caption margin--top-xl">
                <h2 class="subtitle subtitle--medium subtitle--bold pulled--center">@Umbraco.Field(weAreSection, "sectionTitle")</h2>
                <div class="paragraph paragraph--medium paragraph--newspaper margin--top-sm">@Umbraco.Field(weAreSection, "sectionText")</div>
            </div>
        </div>
    </section>
    <section id="@Umbraco.Field("contractTitle", casing: RenderFieldCaseType.Lower)" class="section">
        <div class="container">
            <div class="hero margin--top-xl">
                <div class="hero__body">
                    <h1 class="title title--gradient text--strikethrough background--primary">@Umbraco.Field("contractTitle", casing: RenderFieldCaseType.Upper)</h1>
                    <h2 class="subtitle subtitle--medium subtitle--bold pulled--center margin--top-xl">
                        @Umbraco.Field("contractSubtitle")
                    </h2>
                    <div class="paragraph paragraph--medium margin--top-sm pulled--center">
                        @Umbraco.Field("contractDescription")
                    </div>
                </div>
            </div>
            <div class="row row--no-gutters">

                @foreach (var item in contractSections)
                {
                    <div class="col col--md-6 section__caption margin--top-lg">
                        <h2 class="subtitle subtitle--bold pulled--left">
                            @Umbraco.Field(item, "sectionTitle")
                        </h2>
                        <div class="paragraph margin--top-sm pulled--left">
                            @Umbraco.Field(item, "sectionText")
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
</div>